


@media (max-width:600px) {

  
 .row{
     display: block;
 }

 .column {
     align-items: center;
 }
  
   .third {
    margin-top:0;
    margin-bottom:1rem;
  
}

   .submit {
    width: 55%;
   }

}