
*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

html {
   background-image: url(260181.jpg);
   background-size:auto; 
    }


.container{

    width: 600px;
    height: auto;
    background-color: white;
    outline:1px solid black;
}

.wrapperform{
    display: flex;
    font-family: 'Lexend', sans-serif;
}

.picture {
   width:100%;
   height: 100%;
   
}

input {
    border:none;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

label {
    font-size:10px;
}

.submit {
    background-color: lightseagreen;
    width: 70%;
    padding: 5px;
}

a {
    text-decoration: none;
    color: lightseagreen;
}


  .row {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
.first { 
    height: auto;
}

  .second{
    height:auto;
    margin-top:1rem;
    margin-left:1rem;

  }

  
  .third{
    height: auto;
    margin-top:3rem;
    margin-left:1rem;
  }